:root {
    --prymary-text-color: #757575;
    --title-text-color: #212121;
    --white-text: #FFFFFF;
    --acctent-text-color: #2196F3;
    --logo-second-text-color: #000000;
    --address-text-color: rgba(255, 255, 255, 0.6);
    --prymary-background: #FFFFFF;
    --team-background: #F5F4FA;
    --footer-hero-background:#2F303A;
    --hero-button-background:#2196F3;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--prymary-background);
    color: var(--prymary-text-color);
}

/* Убираем точки и подчёркивание */
ul {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* header */
.logo-first {
    color: var(--acctent-text-color);
}
.logo-second-header {
    color: var(--logo-second-text-color) ;
}
.site-nav {
color: var(--title-text-color);
}
.address-nav {
color: var(--prymary-text-color);
}
.site-nav:hover, .address-nav:hover,
.site-nav:focus, .address-nav:focus {
    color: var(--acctent-text-color);
}

/* main */
/* hero */
.hero {
    background-color: var(--footer-hero-background);
}
.hero-title {
    color: var(--white-text);
}
.hero-button {
    background-color: var(--hero-button-background);
    color: var(--white-text);
}

/* peculiar */
.peculiar-caption {
    color: rgba(0,0,0,0);
}
.peculiar-title {
    color: var(--title-text-color);
}

/* about */
.about-caption {
    color: var(--title-text-color);
}

/* team */
.team {
    background-color:var(--team-background)
}
.team-title {
    color: var(--title-text-color);
}

/* footer */
.footer {
    background-color:var(--footer-hero-background);
}
.logo-footer-second {
    color: var(--white-text);
}
.address {
    color: var(--white-text);
}
.address-link {
    color: var(--address-text-color);
}
