:root {
    --prymary-text-color: #757575;
    --title-text-color: #212121;
    --white-text: #FFFFFF;
    --acctent-text-color: #2196F3;
    --logo-second-text-color: #000000;
    --address-text-color: rgba(255, 255, 255, 0.6);
    --prymary-background: #FFFFFF;
    --team-background: #F5F4FA;
    --footer-hero-background:#2F303A;
    --hero-button-background:#2196F3;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--prymary-background);
    color: var(--prymary-text-color);
}

/* Убираем точки и подчёркивание */
ul {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* header */
.logo {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.9;
}
.logo-first {
    color: var(--acctent-text-color);
}
.logo-second-header {
    color: var(--logo-second-text-color) ;
}
.site-nav, .address-nav{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.02em;
}
.site-nav {
color: var(--title-text-color);
}
.address-nav {
color: var(--prymary-text-color);
}
.site-nav:hover, .address-nav:hover,
.site-nav:focus, .address-nav:focus {
    color: var(--acctent-text-color);
}

/* main */
/* hero */
.hero {
    background-color: var(--footer-hero-background);
}
.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white-text);
}
.hero-button {
font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
background-color: var(--hero-button-background);
color: var(--white-text);
}

/* peculiar */
.peculiar-caption {
    color: rgba(0,0,0,0);
}
.peculiar-title {
font-weight: 700;
font-size: 14px;
line-height: 1.42;
text-transform: uppercase;
color: var(--title-text-color);
}
.peciliar-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
}

/* about */
.about-caption {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
color: var(--title-text-color);
}

/* team */
.team {
background-color:var(--team-background)
}
.team-caption{
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
color: var(--title-text-color);
}
.team-title {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
color: var(--title-text-color);
}
.team-user {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
}

/* footer */
.footer {
    background-color:var(--footer-hero-background);
}
.logo-footer-second {
    color: var(--white-text);
}
.address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--white-text);
}
.address-link {
    color: var(--address-text-color);
}
.address-email {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
 }
.address-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.address {
    font-style: normal;
}
.address:hover,
.address:focus {
    color: var(--acctent-text-color);
}

/* Портфоліо */
.works-hero {
    color: rgba(0,0,0,0);
}
button{
    cursor: pointer;
}
.works-button {
font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
color: var(--title-text-color);
font-family: inherit;
}
.works-button:hover, 
.works-button:focus {
    color: var(--white-text);
    background-color: var(--hero-button-background);
}

/* Контент */
.works-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.works-text {
font-weight: 400;
font-size: 16px;
line-height: 1.88;
}
/* .works-boxes:hover,
.works-boxes:focus {
    color: var(--white-text);
    background-color: var(--hero-button-background);
} */